{% extends '../base.html.twig' %}

{% block head %}
    <script type="text/javascript" src="//vk.com/js/api/openapi.js"></script>
{% endblock %}
{% block title %}Index page{% endblock %}
{% block page_class %}index-page__wrap{% endblock %}

{% block body %}
    <div id="app">

    </div>
{% endblock %}
