{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "browsers": [
                        "Chrome >= 60"
                    ]
                }
            }
        ]
    ],
    "ignore": [
        "node_modules"
    ]
}
